$white: #ffffff;
$darkWhite: rgba(0, 0, 0, 0.05);
$black: #000000;
$lightBlack: rgba(0, 0, 0, 0.8);
$gray: #bbbbbb;
$darkGray: #181818;
$lightGray: #e1e1e1;
$blue: #0080ff;
$lightBlue: #349eff;
$lighterBlue: #349dff3b;
$grayBlue: #455560;
$red: #fb0b12;
$lightRed: #fb0b132a;
$orange: #d68102;
$darkViolet: #663399;
$green: #00ff00;
$lightGreen: #00ff002c;
$lightViolet: #b4a0c956;
