@import "../../assets/css/colors";
@import "../../assets/css/main.scss";

.newUser {
  width: 100%;
  margin: 1rem 0;
  padding: 20px;

  .newUserTitle {
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .newUserForm {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    width: 100%;

    .newUserItem {
      max-width: 400px;
      width: 100%;
      display: flex;
      flex-direction: column;
      margin: 0.5rem 0;
      outline: none;
      label {
        font-size: 0.8rem;
        font-weight: 600;
        margin-bottom: 0.5rem;
      }
      input {
        font-size: 0.8rem;
        padding: 5px;
      }
      .newUserGender {
        label {
          margin-right: 0.5rem;
        }
      }
    }

    .newUserBtn {
      max-width: 200px;
      width: 100%;
      border: none;
      background-color: $lightBlue;
      color: $white;
      border-radius: 5px;
      padding: 5px;
      cursor: pointer;
      margin-top: 2rem;
    }
  }
}

@media screen and (min-width: 992px) {
  .newUser {
    .newUserForm {
      .newUserItem {
        margin: 0.5rem;
      }
    }
  }
}
