@import "../../assets/css/colors";
@import "../../assets/css/main.scss";

.ag-theme-alpine .ag-row {
  height: 80px;

  .ag-cell {
    padding: 0;
    display: flex;
    align-items: center;
    .ag-react-container {
      width: 100%;
    }
  }
}
.products {
  width: 100%;
  margin-top: 1rem;
  padding: 20px;
  .singleProductCreateBtn {
    width: 80px;
    padding: 5px;
    border-radius: 5px;
    background-color: $lightBlue;
    color: $white;
    cursor: pointer;
    font-size: 1rem;
    margin-bottom: 1rem;
  }
  .productImg {
    width: 50px;
    height: auto;
  }
  .actionBtns-container {
    .editBtn {
      background-color: $lightBlue;
      color: $white;
      padding: 5px;
      border-radius: 5px;
      margin-right: 1rem;
    }

    .deleteBtn {
      img {
        width: 15px;
        height: 15px;
        display: block;
      }
    }
  }
}

@media screen and (min-width: 576px) {
  .ag-theme-alpine {
    .ag-row {
      .ag-cell {
        padding: 0 1rem;
      }
    }
  }
}
