@import "variables.css";
@import "reset.css";

p {
  margin: 0.5rem 0;
  font-size: 0.7rem;
}
.dropdown {
  display: none;
}
.dropdown.active {
  display: block;
  position: absolute;
  left: 0;
  background-color: var(--white);
  padding: 1rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 5px;
}
.dropdown a {
  text-decoration: none;
  color: var(--lightGray);
  display: block;
  font-size: 0.8rem;
  margin: 0.5rem 0;
  letter-spacing: 1px;
  transition: 0.3s;
}
.dropdown a:hover {
  color: var(--gray);
}
