:root {
  --bgColor: #121212;
  --darkprimaryColor: #3e065f;
  --primaryColor: #700b97;
  --lightprimaryColor: #8e05c2;
  --white: #ffffff;
  --darkwhite: #f6f6f6;
  --primaryFont: Arial, Helvetica, sans-serif;
}
