:root {
  --bgColor: #121212;
  --darkprimaryColor: #3e065f;
  --primaryColor: #700b97;
  --lightprimaryColor: #8e05c2;
  --white: #ffffff;
  --darkwhite: #dadada;
  --lightGray: #a7a7a7;
  --gray: #808080;
  --primaryFont: Arial, Helvetica, sans-serif;
}
